<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HerbiHocusFocus.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HerbiHocusFocus.Settings1>
            <setting name="Color" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Thickness" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="SpeakOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Margin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorCaret" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="MarginCaret" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HighlightCaretAbove" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightCaretBelow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SizeCaret" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HighlightFocus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightCaretTransparency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaretHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighlightTextLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorUnderline" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="SizeUnderline" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MarginUnderline" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UnderlineTransparency" serializeAs="String">
                <value>0</value>
            </setting>
        </HerbiHocusFocus.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
